
# Python
__pycache__/
*.py[cod]
*.pyc
venv/
env/
*.egg-info/

# Flask
instance/
.webassets-cache

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Datasets (too large for git)
content_dataset/
style_dataset/
vgg_normalised.pth
demo.mp4
